html{font-size: 12px;}
body{
  font-family: "Poppins";
}
.nav-link{
  text-transform: uppercase;
  font-size: 1.125rem;
  color: #ffffff !important;
  text-align: center;
  font-family: "poppins";
}
.something-awesome{
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 800 !important;
  font-size: 3.875rem;
  margin-bottom: 1.375rem;
}
header h2{
  font-size: 1.3125rem;
  color: #ffffff;
  max-width: 47.5rem;
}
.count-down-component{
  font-size: 1.0625rem;
  background: #ffffff;
}
.app-wrapper{
  background: url('./path.png') center no-repeat;
  background-size: cover;
}
.btn:hover, .nav-link:hover{ color: #ff00f7 !important;}
input.btn:hover,a.contact-us:hover{
  box-shadow: 0 0 .6rem .1rem #000000;
}
div.footer-circle{
  background: transparent linear-gradient(180deg, #213F72 0%, #19073B 100%) 0% 0% no-repeat padding-box;
}
footer svg{
  height: 2.7rem;
  width: 2.7rem;
}
span.all-in-one__text-light{
  opacity: .75;
}
div.footer-circle::before{
  content: '';
  position: absolute;
  top: 19.2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 71%;
  height: .4rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem .6rem #ffffff;
}
.page-title{
    position: relative;
    top: 0;
    left: 0;
    color: #ffffff;
    font-size: 1.375rem;
}
.page-title::before{
  content: "";
  position: absolute;
  width: 10%;
  top: 50%;
  left: -13%;
  height: .1rem;
  background: #ffffff !important;
}
.line-height__one{line-height: 2.8125rem;}
.position-absolute{position: absolute;}
.position-relative{position: relative;}
.display-inline-block{display: inline-block;}

/*media queries*/
@media (max-width: 768px){
  a.nav-link{
    margin: 1rem auto !important;
  }
  button.navbar-toggler{ background: #ffffff !important; transform: translate(-3rem,-2.5rem);}
  div.built-for-saas{margin-left: 0 !important;}
  .centeralise-col-contents{ text-align: center;}
}